<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- master -->
        <mapping class="perpus.domain.Buku" />
        <mapping class="perpus.domain.Anggota" />
        <mapping class="perpus.domain.Konfigurasi" />
        
        <!-- transaksi -->
        <mapping class="perpus.domain.Peminjaman" />
        <mapping class="perpus.domain.PeminjamanDetail" />
        
        <!-- security -->
        <mapping class="perpus.domain.security.Pegawai" />
        <mapping class="perpus.domain.security.Screen" />
        <mapping class="perpus.domain.security.PegawaiRole" />
    </session-factory>
</hibernate-configuration>
